@inherits LayoutComponentBase
@using System.Globalization

<PageTitle>MyWeb</PageTitle>

<div class="page">

    <div class="wk-now-container">
        @(now.ToString("dd/MM/yyyy HH:mm:ss", new CultureInfo("th-TH")))
    </div>

    @* <div class="wk-now-container">
    @(now.ToString("dd-MM-yyyy HH:mm:ss", new CultureInfo("en-US")))
    </div> *@
    @* <div class="sidebar">
    <NavMenu />
    </div>

    <main>
    <div class="top-row px-4">
    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <article class="content px-4">
    @Body
    </article>
    </main> *@
</div>
